<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="keyusuario" value="kcamargo.telefonica"/>
		<add key="keySenha" value="kcamargo638"/>
		<add key="path_print_laser_principal" value="http://portal.printlaser.com/"/>
		<add key="path_print_laser_main" value ="https://portal.printlaser.com/Main.aspx"/>
		<add key="path_print_laser_upload" value="https://portal.printlaser.com/UpLoad/UpLoadProducao.aspx"/>
		<add key="grupo" value="Grupo Vivo"/>
		<add key="cliente" value="VIVO"/>
		<add key="unidade" value="UNICA"/>
		<add key="aplicacao" value="RECUPERAÇÃO ELETRÔNICA"/>
	</appSettings>
</configuration>